{% extends 'base/base.html' %}
 



{% block content %}
<div class="container-fluid mt-2">
 <div class="row">

 <!--trending Catagory-->
    <div class="col-lg-2 mx-auto">
        <div class="list-group">      
        <a href="/trending/" class="list-group-item list-group-item-success  list-group-item-action"> Trending Products</a>      
        </div>
        
        <div class="list-group">
            {% for catagory in catagories %}    
            <a href="/trending/?catagory={{ catagory.id }}" class="list-group-item list-group-item-action">{{catagory.name }}</a>
            {% endfor %}  
        </div>   
    <!--trending Catagory end-->
        <!--Search option-->
        <div class="search_content mt-5">
            <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="keywords"  placeholder="Enter here for search">
            </div>
            <button type="submit" class="btn btn-info mt-1">Search</button>
            </form>
        </div>
 <!--End Search option-->
    </div>
  
  
 

    <div id="products" class="col-lg-6 mx-auto">
    <div class="text-center"><h1>Shopping cart</h1></div>
        <div class="row">
            <div class="card mx-auto mb-2">                 
                  <table class="table">
                    <thead class="alert bg-info text-center" role="alert">
                      <tr>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for citem in cart_items %}
                      <tr>
                        <td>{{citem.title}}</td>
                        <td class="text-center">{{citem.qty}}</td>
                        <td class="text-center">{{citem.price}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>

  <!--Product details-->
    <div id="products" class="col-lg-4 mx-auto">
        
            <div class="row">
                               
                <div class="cart-summary">
                    <div class="text-center alert bg-info text-center" role="alert">Cart Total</h1></div>
                    
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                        
                          <th scope="col">Sub-Total</th>
                          <th scope="col">Delivery Charge</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          
                          <td>BDT.{{cart_total}}</td>
                          <td>Free</td>
                          <td>BDT.{{cart_total}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="{% url 'order' %}" class="btn btn-danger" style="float:right">Checkout</a>
                </div>
                
                
            </div>
    </div>






 </div>
</div>
    
{% endblock content %}
        
 <!--start Content-->
