{% extends 'base/base.html' %}
 



{% block content %}
<div class="container-fluid mt-2">
 <div class="row">
  

  <div class="col-lg-2 mx-auto">
    <div class="list-group">    
      <a href="/" class="list-group-item list-group-item-action list-group-item-success ">All Catagories</a>
    </div>
    <div class="list-group">
      {% for catagory in catagories %}
      <a href="/?catagory={{ catagory.id }}" class="list-group-item list-group-item-action">{{catagory.name }}</a>
      {% endfor %}
    </div>

    <hr>

  <!--Search option-->
    <div class="search_content mt-5">
      <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="search" name="keywords"  placeholder="Enter here for search">
        </div>
        <button type="submit" class="btn btn-info mt-1">Search</button>
      </form>
    </div>
 <!--End Search option-->

  </div>
  


<!--Right side start-->
  <div id="products" class="col-lg-10 mx-auto">
    
    <div class="row">
      {% for items in item %}
      <div class="card mx-0 mb-2 bg-success text-dark bg-black" style="width: 185px;">
          
          <a href="{% url 'product_details' items.pid %}"><img src="{{ items.image.url }}" width="160" height="160" class="card-img-top" alt="..."></a> 
          <div class="fs-card-title mt-2">
            <a href="{% url 'product_details' items.pid %}" class="text-decoration-none" ><p>{{items.title}}</p></a> 
          </div>

          <div class="fs-card-price">
            <a href="{% url 'product_details' items.pid %}" class="text-decoration-none" >
              <p style="color:red">BDT. {{items.price}}</p>
            </a> 
          </div>
      </div>
      {% endfor %}        
    </div>
  </div>


 </div>
</div>
    
{% endblock content %}
        
 <!--start Content-->
