{% extends 'base/base.html' %}
 



{% block content %}
<div class="container-fluid mt-2">
 <div class="row">
  
 <!--trending Catagory-->
    <div class="col-lg-2 mx-auto">
        <div class="list-group">      
        <a href="/trending/" class="list-group-item list-group-item-success  list-group-item-action"> Trending Products</a>      
        </div>
        
        <div class="list-group">
            {% for catagory in catagories %}    
            <a href="/trending/?catagory={{ catagory.id }}" class="list-group-item list-group-item-action">{{catagory.name }}</a>
            {% endfor %}  
        </div>   
    <!--trending Catagory end-->
        <!--Search option-->
        <div class="search_content mt-5">
            <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="keywords"  placeholder="Enter here for search">
            </div>
            <button type="submit" class="btn btn-info mt-1">Search</button>
            </form>
        </div>
 <!--End Search option-->
    </div>
  
  
 

    <div id="products" class="col-lg-4 mx-auto">
    
        <div class="row">
            <div class="card mx-0 mb-2 bg-success text-dark bg-opacity-25" style="width: 450PX;height: 515px;">

                <div class="alert alert-info text-center" role="alert">
                    Product Image
                </div>
                <img src="{{items.image.url}}" class="card-img-top" alt="...">
                
                {% comment %} <div class="card-body">
                    <a href="" class="text-decoration-none" ><h5>{{items.title}}</h5></a>
                    <p class="card-text">BDT. {{items.price}}</p>
                    <p class="card-text">{{items.catagory}}</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div> {% endcomment %}
            </div>
            
        </div>
    </div>

  <!--Product details-->
    <div id="products" class="col-lg-3 mx-auto">
        
            <div class="row">
                <div class="card mx-auto mb-2" style="width:20rem;height: 32rem;">
                    <div class="alert alert-info text-center" role="alert">
                    Product Details
                    </div>
                    <div class="card-body">
                        <h4>{{items.title}}</h4>

                        <p class="card-text">BDT. {{items.price}}</p>
                        <!-- Avaiable -->
                        {% if items.stock %}                        
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                        {% else %}
                        <p class="card-text">Stock Out</p>
                        {% endif %}
                        {% comment %} <p class="card-text">{{items.quantiles }}</p> {% endcomment %}
                         <!-- Add to Cart Form -->
                        <form class="cart clearfix" action="{% url 'addTocart' %}" method="post">
                             {% csrf_token %}
                            <div class="cart-btn d-flex mb-50">
                                <p>Qty</p>
                                <input type="text" name="uid"  value="{{user.id}}" hidden ><br>
                                <input type="text" name="pid" value="{{items.pid}}" hidden><br>
                                <div class="quantity">
                                    <span class="qty-minus"
                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                            class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    <input type="number" class="qty-text"  step="1" min="1" max="300"
                                        name="qty" value="1">
                                    <span class="qty-plus"
                                        onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                            class="fa fa-caret-up" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <button type="submit" name="addtocart" value="5" class="btn btn-info">Add to
                                cart</button>
                        </form>
                        <div class="description mt-2">
                            {% comment %} <h6>Description</h6> {% endcomment %}
                            <p class="card-text">{{items.description}}</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
    </div>


    <div id="products" class="col-lg-2 mx-auto">
        
        <div class="row">
            <div class="card mx-auto mb-2" style="width: 18rem;">
                
                
            </div>
            
        </div>
    </div>




 </div>
</div>
    
{% endblock content %}
        
 <!--start Content-->
